body {
     background-color: #E4F1FF;
}

#titulo {
    color: #151825;
    font-size: 50px;
    text-align: center;
}

.texto {
    color: #040330;
    font-size: 30px;
    text-align: justify;
}

#imagem{
    height: 260px;
    width: 260px ;
    padding: 8px; 
    margin: 8px;
    border:2px groove #030222;
    border-radius: 20px;

}